joomla.local {
  tls /certs/joomla.local.crt /certs/joomla.local.key
  reverse_proxy joomla:80 {
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Port 443
  }
}

keycloak.local {
  tls /certs/keycloak.local.crt /certs/keycloak.local.key
  reverse_proxy keycloak:8080 {
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Port 443
  }
}

